{% extends "base.html" %}

{% block content %}
<style>

    .information{
        position:absolute;
        left:400px;
        top:500px;
        
    }

    .card{
        position:absolute;
        left:300px;
        
    }
    .font{
        font-family:sans-serif ;
    }
    .h5{
        position:relative;
        left:10px;
    }

</style>



<div class="card-body mx-auto col-md-6">
    <div class="shadow p-5 mb-5 bg-white">  
    <i class="fas fa-users-cog fa-2x">
    회원정보</i>
    <pre>
<div class="font">      
  이메일
  <h5> <u>{{user.email}}</u></h5>
  이름 
  <h5> <u>{{user.name}}</u></h5>
  전화번호
  <h5> <u>{{user.phone_number}}</u></h5>
  생년월일
  <h5> <u>{{user.date_of_birth}}</u></h5>
  주소
  <h5> <u>{{user.address}}</u></h5>
  </div>
  <button type="button" class="btn-lg btn-info btn-block"><i class="fas fa-lock"></i>  비밀번호 변경</button>
</pre>

</div>
</div>
</div>
</div>
</div>




{% endblock %}