{% extends "base.html" %}
{% block title%}Home{% endblock %}
<style>
    .margin{
        position:absolute;
        margin-left:50px;
        width:800px;
        opacity: 0.8;
    }
    
    .margin_two{
        position:absolute;
        margin-left:50px;
        margin-top:370px;
        width:1000px;
        opacity: 0.8;
    }

</style>
{% block content%}
<div class = "row">
    <div class = "col-md-9">
        {% include "blog/post_all.html" %}
    </div>
            
    <div class = "col-md-3">
        <h5><a href="{% url 'events:home' %}"><i class="far fa-calendar-check"></i></i>행사 일정표</a></h5>
        <br/>
        <h3> {{year}}년 {{month_number}}월</h3>
    
        현재시각 {{ time }}<br/>
        {{cal|safe}}<br/>
    </div>
</div>

<div class="card margin_two">
{% include "assessment/post_home.html" %}        
</div>

{% endblock %}