{% extends "base.html" %}

{% block title%} instrouction_structure {% endblock %}

{% block content%}

<div class = "row">
        <div class = "col-md-2">
                {% include 'instrouction_element.html' %}
        </div>
        <div class = "col-md-10"><h3>교과 편성 총괄표</h3>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"></p><i class="fas fa-chalkboard-teacher"></i> 인터페이스 개발</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 160hr</p>
                <a class="card-link"><i class="fas fa-book"></i>기반 언어프로그래밍(80hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>데이터베이스 활용(40hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>웹 프로그래밍(40hr)</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i> 인터페이스 개발 프로젝트</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 80hr</p>
                <a class="card-link"><i class="fas fa-book"></i>웹 애플리케이션 구현 프로젝트(40hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>사용자 관리 및 보안 프레임워크 구축 프로젝트(40hr)</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i> 엣지 디바이스 제어</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 80hr</p>
                <a class="card-link"><i class="fas fa-book"></i>C/C++ (16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>기본 장치 제어(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>고급 장치 제어(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>IoT 통신(32hr)</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i> 게이트웨이 디바이스 제어</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 160hr</p>
                <a class="card-link"><i class="fas fa-book"></i>개발환경 구축 (8hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>디지털 입/출력 장치 제어(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>아날로그 입/출력 장치 제어(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>영상 처리(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>엣지 디바이스 연동(16hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>웹 서버 연동(8hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>스마트 모바일 디바이스(80hr)</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>사물인터넷 활용 프로젝트</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 128hr</p>
                <a class="card-link"><i class="fas fa-book"></i>탐사 주행차 개발 프로젝트(64hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>원격통제 시스템 개발 프로젝트(64hr)</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>융복합 프로젝트</p></h4>
                <p class="card-text"><span class="badge badge-info">중단원</span> 232hr</p>
                <a class="card-link"><i class="fas fa-book"></i>프로젝트 워크숍 (32hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>융복합 프로젝트(152hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>프로젝트 멘토링(40hr)</a>
                <a class="card-link"><i class="fas fa-book"></i>경진대회/수료식(8hr)</a>
                </div>
            </div>
<pre>













</pre>
        </div>
</div>
{% endblock %}

