{% extends "base.html" %}

{% block title%} instrouction_plan {% endblock %}

{% block content%}

<div class = "row">
        <div class = "col-md-2">
                {% include 'instrouction_element.html' %}
        </div>
        <div class = "col-md-10"><h3>교과별 계획</h3><br>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>

            </div>
        </div>
</div>
{% endblock %}