{% extends "base.html" %}

{% block title%} instrouction_plan {% endblock %}

{% block content%}

<div class = "row">
        <div class = "col-md-2">
                {% include 'instrouction_element.html' %}
        </div>

        <div class = "card">
        <div class = "col-md-10"><h3>교과별 계획</h3><br>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>
<pre>
1. 지도목표
    - 웹 서비스 개발에 필요한 기반언어인 Python 언어활용능력을 함양
    - 웹 서비스 개발 필요한 데이터 활용 및 서비스 능력 함양
    - 파이썬 문법, 객체지향 프로그래밍 능력으로 다양한 패키지 활용
    - 웹서비스를 위한 동적 웹페이지 구현과 서버 프로그래밍 능력 구현
2. 훈련교재
    - 파이썬 정복
    (한빛미디어/김상형/2018.04.02)
    - 이것이 MariaDB이다
    (한빛미디어/우재남/2019.04.01)
    - 파이썬 웹 프로그래밍
    (한빛미디어/김석훈/2018.08.17)

3. 주요 교수계획
    기반 언어프로그래밍/ (80시간)
        파이썬 문법/(80시간)
        객체 지향 프로그래밍/(시간)
        고급 패키지/(시간)
    데이터베이스 활용 / (40시간)
        정형 데이터베이스 활용 / (40시간)
        비정형 데이터베이스 활용 / (시간)
        데이터베이스 연동 / (시간)
    웹 프로그래밍 / (40시간)
        웹 표준 (클라이언트) / (40시간)
        웹 서버 / (시간)
        OpenAPI / (시간)
4. 교수학습방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">이론강의</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">개인별실습</label></div>

5. 평가방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">필답형평가</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">수행평가</label></div>

6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5


7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24


</pre>

            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>인터페이스 개발</p></h6>
<pre>
1. 지도목표
    - MVC패턴 기반의 Web Site 개발 프로젝트를 진행할 수 있다
    - HTML5와 CSS3, 파이썬, Django를 이용하여 블로그 웹사이트를 구축
    - Django의 ORM기능을 이요하여 웹 어플과 DBMS연동을 할 수 있다.
2. 훈련교재
    - 별도 교재 없음

3. 주요 교수계획
    웹 어플리케이션 구현 프로젝트/ (40시간)
        웹 어플리케이션 구현 프로젝트/(40시간)
    사용자 관리 및 보안 프레임워크 구축 프로젝트 / (40시간)
        사용자 관리 및 보안 프레임워크 구축 프로젝트 / (40시간)

4. 교수학습방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">이론강의</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">조별실습</label></div>

5. 평가방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">발표</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">포트폴리오</label></div>

6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5


7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24


</pre>
            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>엣지 디바이스 개발</p></h6>
<pre>
1. 지도 목표
    - 엣지 디바이스를 이용하여 다양한 센서로부터 데이터를 수집하고 처리하며 서버에 전송
    - C/C++ 핵심문법을 익히고, 엣지 디바이스 제어에 필요한 함수와 객체를 활용
    - 다양한 디지털/아날로그 출력 장치를 제어할 수 있다.
    - LCD․DC모터․서보모터를 제어할 수 있다.
    - 여러 가지 IoT 통신 방법을 이해하고, 엣지 디바이스를 위한 IoT 통신환경을 구현
2. 훈련교재
    - 아두이노 마스터 1(Ohm사/신동욱/2019.01.10.)
    - 쉽게 따라하는 IoT 서비스 만들기 (정보문화사/이미향 외 1명/2018.06.10)
3.주요 교수계획
    C/C++ / (16시간)
        C/C++ 핵심 문법 / (16시간)
        함수/객체의 정의 및 활용 / (시간)
        상속 / (시간)
    기본 장치 제어 / (16시간)
        디지털 출력 장치 제어 / (16시간)
        디지털 입력 장치 제어 / (시간)
        아날로그 입력 처리 / (시간)
        PWM을 이용한 아날로그 출력 제어 / (0시간)
    고급 장치 제어 / (16시간)
        I2C 기반 텍스트 LCD 제어 / (16시간)
        DC 모터 제어 / (시간)
        서보 모터 제어 / (시간)
    IoT 통신 / (32시간)
        I2C 통신 / (32시간)
        블루투스 통신 / (시간)
        WiFi 통신 / (시간)
        웹 서버 통신 / (0시간)

4. 교수학습방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">이론강의</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">개인별실습</label></div>

5. 평가방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">필답형평가</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">수행평가</label></div>

6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5


7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24


</pre>
            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>게이트웨이 디바이스 제어</p></h6>
<pre>
1. 지도 목표
    - 게이트웨이 디바이스 제어를 위한 개발환경을 구축
    - 게이트웨이 디바이스를 이용하여 디지털과 아날로그 입/출력 장치를 제어
    - 카메라를 활용한 영상 입력 제어 및 처리 기술을 습득할 수 있다.
    - MQTT를 이용한 데이터 수집 및 장치 제어를 수행하고 엣지 디바이스와 연동
    - 임베디드 웹 서버를 통해 다양한 IoT와 연동
    - 스마트 모바일 장치용 앱을 개발할 수 있고, 모바일용 IoT 장치 모니터링
2. 훈련교재
    - IoT 사물인터넷을 위한 라즈베리파이 4 정석
        (앤써북/최주호 외 2명/ 2019.11.30)
    
    - 스마트 IoT 프로젝트
        (에이콘출판사 /아구스 쿠니아완/2017.05.31.)
    
    - 열혈코딩 안드로이드 스튜디오로 만나는 코틀린
        (비제이퍼블릭/박성완/2018.12.31.)
3.주요 교수계획
    개발환경 구축 / (8시간)
        운영체제 설치 / (8시간)
        개발환경 구축을 위한 개발 툴 설치 / (시간)
        한글 환경 구축 / (시간)
    디지털 입/출력 장치 제어 / (16시간)
        LED 제어 / (16시간)
        TEXT LCD 출력 제어 / (시간)
        스위치 연결 처리 / (시간)
        디지털 입력 센서의 처리 / (0시간)
    아날로그 입/출력 장치 제어 / (16시간)
        PWM 아날로그 출력 제어 / (16시간)
        아날로그 센서 입력 처리 / (시간)
        DC/서보 모터 출력 제어 / (시간)
    영상 처리 / (16시간)
        카메라 영상 입력 제어 처리 / (16시간)
        카메라 영상 처리 / (시간)
    엣지 디바이스 연동 / (16시간)
        MQTT 프로토콜 / (16시간)
        MQTT를 이용한 데이터 수집 및 장치 제어 / (시간)
        모니터링 시스템 / (시간)
    웹 서버 연동 / (8시간)
        임베디드 웹 서버 구축 / (8시간)
        데이터베이스 연동 / (시간)
        RestAPI를 통한 연동 / (시간)
    스마트 모바일 디바이스 / (80시간)
        코틀린 프로그래밍 / (80시간)
        안드로이드 기본 앱 / (시간)
        디바이스 및 서버 연동 / (시간)
4. 교수학습방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">이론강의</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">개인별실습</label></div>
        
5. 평가방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">필답형평가</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">수행평가</label></div>
        
6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5
        
        
7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24


</pre>
            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>사물인터넷 활용 프로젝트</p></h6>
<pre>
1. 지도 목표
    - 센서를 통해 정보를 수집하고, 영상처리를 수행할 수 있는 원격 조정 탐사 주행자 제작 프로젝트
    - 수집된 센서 정보와 영상정보를 중앙 서버로 전송하고 처리할 수 있는 원격 통제 시스템을 개발
2. 훈련교재
    - 별도 교재없음
3.주요 교수계획
    탐사 주행차 개발 프로젝트 / (64시간)
        원격 탐사 주행차 개발 프로젝트 / (64시간)
    원격통제 시스템 개발 프로젝트 / (64시간)
        원격통제 시스템 개발 프로젝트 / (64시간)
        관제 Dashboard 제작 / (시간)
4. 교수학습방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">이론강의</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">개인별실습</label></div>

5. 평가방법
<div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">필답형평가</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">수행평가</label></div>

6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5


7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24



</pre>
            </div>
            <div>
                <h6><p style="color:blue;"><i class="fas fa-chalkboard-teacher"></i>융복합 프로젝트</p></h6>
<pre>
1. 지도 목표
    - 사물인터넷 ‧ 클라우드 ‧ 빅데이터 ‧ 인공지능 4개의 전문분야별 훈련생을 통합하여
        다양한 4차 산업기술이 융복합된 팀 프로젝트를 진행할 수 있다.
    - 4차산업 선도기술 융합 프로젝트를 위하여, 각 전문 분야별 훈련생의 타 분야에 대한
        기술 이해도를 높이기 위한 워크숍을 수행할 수 있다.
    - 팀 단위 프로젝트 수행 경험을 통해 프로젝트 구성원간의 역할 분담과 책임, 프로젝트
        관리, 문서작성 기술을 습득할 수 있다.
    - 현업 종사자들의 피드백을 통해 현업 노하우를 습득할 수 있다.
    - 실무에서 활용 가능한 기술력을 배양하고, 취업에 필요한 기술과 태도를 함양한다.
2. 훈련교재
    - 별도 교재없음
3.주요 교수계획
    프로젝트 워크숍 / (32시간)
        프로젝트 워크숍 / (32시간)
    융복합 프로젝트 / (152시간)
        융복합 프로젝트 / (152시간)
    프로젝트 멘토링 / (40시간)
        프로젝트 팀 빌딩 / (40시간)
        프로젝트 주제 설정 / (시간)
        프로젝트 작업 수행 / (시간)
        중간 점검 / (0시간)
        최종 결과물 산출 / (0시간)
        포트폴리오 작성 / (0시간)
    경진대회/수료식 / (8시간)
        프로젝트 경진대회 / (8시간)
        수료식 / (시간)
4. 교수학습방법
    <div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">조별실습</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">기타</label></div>
        
5. 평가방법
    <div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">포트폴리오</label></div><div class="form-check-inline"><label class="form-check-label"><input type="checkbox" class="form-check-input" value="">사례발표</label></div>
        
6. 훈련시설
    시설명                      면적
    6강의장                     60.5
    7강의장                     60.5


7. 활용 훈련 장비
장비명          모델명          단위       수량
데스크탑                        대         24 
모니터          KX2075          대         24
통합개발도구    VScode          EA         24
통합개발도구    python v3.7     EA         24
패키지          Anaconda        EA         24

</pre>
            </div>
        </div>
</div>
</div>
{% endblock %}
