<h3>훈련소개</h3>
<br>
 <!-- 이 베이스를 고치자 
 훈련개요(링크)
 교과편성 총괄표(링크)
 교과별 계획(링크) -->
<li class ="nav-item mx-1 btn btn-primary" >
        <a class="nav-link text-blue" href ="{% url 'instrouction:intro' %}">훈련개요</a></li>

<br>

<li class ="nav-item mx-1 btn btn-primary" >
        <a class="nav-link text-blue" href ="{% url 'instrouction:structure' %}">교과편성 총괄표</a></li>

<br>

<li class ="nav-item mx-1 btn btn-primary" >
        <a class="nav-link text-blue" href ="{% url 'instrouction:plan' %}">교과별 계획</a></li>
