{% extends "base.html" %}

{% block title %}instrouction_list.html{% endblock %}

{% block content %}
<div class ="row">
    <div class = "col-md-2">
    <h3>훈련개요</h3>
    <h3>교과편성 총괄표</h3>    
    <h3>교과별 계획</h3>    
    

    </div>

    <div class = "col-md-10">
        <h3>선택하세요</h3>
    </div>
</div>

<!-- <div>
    {% if user.is_active %}
    <a href="#" class="btn btn-primary btn-sm">
    <i class="fas fa-pencil-alt"></i> 쓰기</a>
    <a href="#"
    class="btn btn-primary btn-sm"><i class="far fa-edit"></i> 수정 목록</a>
    {% endif %}
</div> -->

{% endblock %}