<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width-device-width, initial-scale=1">
    <title>게시판</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
{% extends "base.html" %}
{% block title %}board_index.html{% endblock %}

{% block content %}

<h1>게시판</h1>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        {%for board in boards%}
        <tr>
            <td><a href="{{board.get_absolute_url}}">{{board.title}}</a></td>
            <td>{{board.owner}}</td>
            <td>{{board.create_dt}}</td>
            <td>{{board.hit}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% include "pagination.html" %}

</p>
</p>

    {% if user.is_active %}
    <div class="text-right mr-3">
        <a href="{%url 'board:add' %}" class="btn btn-primary btn-sm">
        <i class="fas fa-pencil-alt"></i> 쓰기</a>
    </div>
    {% endif %}




{% endblock %}

