
<head>
    <style>
        @font-face {
                font-family: 'Pangolin';
                src: url("font/Pangolin-Regular.ttf") format("opentype");
        }

        body{
            background-image: url('http://v3wall.com/wallpaper/1920_1080/1006/1920_1080_20100605092402139801.jpg');
            background-repeat: no-repeat;
            background-size:cover;
        }

    </style>

</head>
<body>
{% extends "base.html" %}
{% load static %}

{% block title %}게시판 내용{% endblock %}
{% block content %}

<h2 style="font-family:Pangolin;">{{object.title}}</h2>

<hr style="border: 5px solid skyblue;width:100%;">

<div class="text-right">작성자: {{board.owner}} / 조회수: {{board.hit}} /
    수정일: {{ board.modify_dt|date:"Y년 m월 d일" }}</div>

<div class="text-right my-3">
    {% for file in board.files.all %}
    <a href="{%url 'board:download' file.id%}" class="ml-4">
        <i class="fas fa-download"></i>
        {{file.filename}} ({{file.size | filesizeformat}}) </a>
    {% endfor %}
</div>
{# <p>{{object.modify_dt | date:"Y-m-d"}}</p> #}
{# <p>작성자: {{object.owner.username}}</p> #}
<br>

<div class = 'mx-auto' style="border: 1px solid black;width: 75%; height:90%;">

    {% if board.mainphoto %}
    <img src ="{{ board.mainphoto.url }}" alt=""height="200">
    <br>
    {% endif %}

    {{board.content | safe}}

</div>
<br>
<br>

    <table class="table table-striped">
        {% for comment in comments %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{ % url 'board:comment_delete' board.id % }">삭제하기</a></td>
            <td><a href="{ % url 'board:comment_update' board.id % }">수정하기</a></td>
        </tr>
        {% endfor %}
    </table>

</div>

<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
    <a href="{% url 'board:tagged_object_list' tag.name %}">#{{tag.name}}</a>
    {% endfor %}
    <!-- &emsp;<a href="{% url 'board:tag_cloud' %}">
        <span class="btn btn-info btn-sm">TagCloud</span> </a> -->
</div>

{% if user == object.owner %}
<div class="text-right">
    <a href="{% url 'board:update' board.id %}" class="mr-3">
        <i class="far fa-edit"></i> 수정</a>
    <a href="{% url 'board:delete' board.id %}" class="text-danger mr-3">
        <i class="fas fa-trash"></i> 삭제</a>
</div>
{% endif %}


<p>
    {%if object.get_previous %}
        <a href="{{object.get_previous.get_absolute_url}}"
            title="이전 글">prev</a>
    {%endif%}

    {%if object.get_next %}
        <a href="{{object.get_next.get_absolute_url}}"
            title="다음 글">next</a>
    {%endif%}
</p>

{% endblock %}
</body>