{# {% extends "base.html" %} #}
{% block title %}board_index.html{% endblock %}

{% block content %}

<h1>Blog List</h1>
<br>
{%for board in boards%}
    <h3><a href="{{board.get_absolute_url}}">{{board.title}}</a></h3>
        {{board.modify_dt|date:"Y-m-d"}}
    <p>{{board.description}}</p>
{% endfor %}
<br>

    {% if user.is_active %}
    <div class="text-right mr-3">
        <a href="{%url 'board:add' %}" class="btn btn-primary btn-sm">
        <i class="fas fa-pencil-alt"></i> 쓰기</a>
    </div>
    {% endif %}




{% endblock %}