{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}게시글 작성{% endblock %}


{% block content %}

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">
            에러가 난 거 같습니다. 다시 한 번 시도해주세요.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
        <label for="files" class="font-weight-bold">제목</label>
        <br>
        <div class="col-sm-8">
            {{ form.title|add_class:"form-control"|attr:"autofocus" }}
        </div>
<br>
        <label for="files" class="font-weight-bold">간단 설명</label>
        <br>
        <div class="col-sm-8">
            {{ form.description|add_class:"form-control" }}
        </div>
<br>

<div class="form-group row", style="float:right;">
    <label for="files" class="font-weight-bold">첨부 파일: </label>&nbsp;
    <div>
        <input type="file" id="files" name="files" multiple>
    </div>
</div>

<br>

        <label for="files" class="font-weight-bold">내용</label>
        <br>
        <div>
            {{ form.content|add_class:"form-control" }}
        </div>
<br>
    <div class="form-group row">
        {{ form.tags|add_label_class:"font-weight-bold" }}
        <div class="col-sm-4">
            {{ form.tags|add_class:"form-control" }}
        </div>
    </div>


    
    <div class="form-group row">
        <div class="col-sm-8 ">
            {% for file in board.files.all %}
            <input type="checkbox" name="delete_files" value="{{file.id}}">
            {{file.filename}} ({{file.size | filesizeformat}})
            <br>
            {%endfor %}
        </div>
    </div>

<br>

<div class="form-group">
    <div>
        <button type="submit"  class="btn btn-muted">글 등록</button>
        <button type="button" class="btn btn-muted" style = "float:right;" onclick="location.href = '/board/'">돌아가기</button>
    </div>
</div>
</form>


{% endblock %}


{% block extra-script %}
 <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
 referrerpolicy="origin"></script>
 <script>
 tinymce.init({
 selector:'textarea',
 menubar: false,
 statusbar: false,
 toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | removeformat'});
</script>
{% endblock %}

<div class="text-right">작성자: {{board.owner}} / 죄회수: {{board.readcount}} /
    수정일: {{ board.modify_dt|date:"Y년 m월 d일" }}</div>

<div class="text-right my-3">
    {% for file in board.files.all %}
    <a href="{%url 'board:download' file.id%}" class="ml-4">
        <i class="fas fa-download"></i>
        {{file.filename}} ({{file.size | filesizeformat}}) </a>
    {% endfor %}
</div>


<div class="text-right">작성자: {{board.owner}} / 죄회수: {{board.read_cnt}} /
    수정일: {{ board.modify_dt|date:"Y년 m월 d일" }}</div>
<div class="form-group row">
    <label for="files" class="col-form-label col-sm-2 ml-3 font-weight-bold">
        삭제할 파일 :</label>
    <div class="col-sm-8 ">
        {% for file in board.files.all %}
        <input type="checkbox" name="delete_files" value="{{file.id}}">
        {{file.filename}} ({{file.size | filesizeformat}})
        <br>
        {%endfor %}
    </div>
</div>
    