{% extends "base.html" %}
{% load static %}

{% block title %}board_detail.html{% endblock %}
{% block content %}


<h2>{{object.title}}</h2>

<p>
    {%if object.get_previous %}
        <a href="{{object.get_previous.get_absolute_url}}"
            title="이전 글">prev</a>
    {%endif%}

    {%if object.get_next %}
        <a href="{{object.get_next.get_absolute_url}}"
            title="다음 글">next</a>
    {%endif%}
</p>
<div class="text-right">작성자: {{board.owner}} / 조회수: {{board.hit}} /
    수정일: {{ board.modify_dt|date:"Y년 m월 d일" }}</div>
<div class="text-right my-3">
    {% for file in board.files.all %}
    <a href="{%url 'board:download' file.id%}" class="ml-4">
        <i class="fas fa-download"></i>
        {{file.filename}} ({{file.size | filesizeformat}}) </a>
    {% endfor %}
</div>
{# <p>{{object.modify_dt | date:"Y-m-d"}}</p> #}
{# <p>작성자: {{object.owner.username}}</p> #}
<br>

<div>
{{board.content | safe}}
</div>
<br>
{% if board.mainphoto %}
    <img src ="{{ board.mainphoto.url }}" alt=""height="600">
    <br>
{% endif %}

{% if user == object.owner %}
<div class="text-right">
    <a href="{% url 'board:update' board.id %}" class="mr-3">
        <i class="far fa-edit"></i> 수정</a>
    <a href="{% url 'board:delete' board.id %}" class="text-danger mr-3">
        <i class="fas fa-trash"></i> 삭제</a>
</div>
{% endif %}

<br>
<br>
<br>
<br>

<div style="border:1px solid; padding:10px; width:200px ;" >
    <h6>저 버스 표지판에 적힌 지명들은 이 세상에 존재하지 않는 곳이거나 누구도 갈 수 없는 곳인 양 여겨지고 있다. 저 약재상과 이불 가게의 진열창을 침수시킨 어둠은 내가 항시 보던 어둠과 전혀 달라 어떤 탐미적 이질감마저 느껴지고 있다.
    
    상점 안에 보이는 저 상인들조차도 단순히 뭔가를 팔고 있는 것이 아니라, 인생이라는  |</h6>
    <br>
    <br>
    </div>

<div class="container p-3 my-3 border">

<form action="{ % url "board:comment" object.id % }" method="POST">
    {% csrf_token %}
    
        
        <input type="submit" value="Comment" class="btn btn-outline-primary">
    
    </form>
    
    <table class="table table-striped">
        {% for comment in comments %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{ % url 'board:comment_delete' comment.id % }">삭제하기</a></td>
            <td><a href="{ % url 'board:comment_update' comment.id % }">수정하기</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
<!--여기 부터 --> 
<div class="card-body">
    {% if board.comment_set.count > 0 %}
    <div class="mt-3">
    {% for comment in board.comment_set.all %}
        <div class="comment py-2 text-muted">
            <span style="white-space: pre-line;">{{ comment.text }}</span>
            <span>
                - {{ comment.author }}, {{ comment.create_date }}
                {% if comment.modify_date %}
                (수정:{{ comment.modify_date }})
                {% endif %}
            </span>
            {% if request.user == comment.author %}
            <a href="{% url 'board:comment_modify_question' comment.id  %}" class="small">수정</a>,
            <a href="#" class="small delete" 
               data-uri="{% url 'pybo:comment_delete_question' comment.id  %}">삭제</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <div>
        <a href="{% url 'board:comment_create_question' question.id  %}" 
           class="small"><small>댓글 추가 ..</small></a>
    </div>
</div>
<!-- 여기까지-->
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
    <a href="{% url 'board:tagged_object_list' tag.name %}">#{{tag.name}}</a>
    {% endfor %}
    &emsp;<a href="{% url 'board:tag_cloud' %}">
        <span class="btn btn-info btn-sm">TagCloud</span> </a>
</div>

{% endblock %}