

<style>
   table{font-size:13px;}

</style>
<br>
<h3 >&nbsp;&nbsp;<i class="fas fa-bell">공지사항 </i></h3> 
<br>
<div class="row" >
    <div class ="col-sm-9">
    <table class = "table table-hover">
        <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
            <tr>
                <th><a href='{{ object.get_absolute_url }}' target="_blank">{{ object.title }}</a></th>
                <th>{{object.owner}}</th>  
                <th>{{object.readcount}}</th> 
                <th>{{object.create_dt|date:"Y-n-d" }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    {% include "pagination.html" %}
    </div>
    

    <div class ="col-sm-3">
        달력자리
    </div>
</div>
<!-- <p>{{ post.description }}</p> -->

{% if user.is_admin %}
<div class="text-right mr-3">
    <a href="{%url 'blog:add' %}" class="btn btn-primary btn-sm">
<i class="fas fa-pencil-alt"></i> 쓰기</a>
</div>
{% endif %}


