{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block content %}

<h2>{{ object.title }}</h2>

<div>{{ object.modify_dt|date:"Y년 F j일" }}</div>
<p>작성자 : {{object.owner}}</p>
<br>

<div>
    {{ object.description|linebreaks }}
</div>

<p>
    {% if object.get_next %}
    <a href="{{ object.get_next.get_absolute_url }}" title="View previous post">
        <i class="fas fa-arrow-circle-left"></i> 다음 글로
    </a>
    {% endif %}

    {% if object.get_previous %}
    | <a href="{{ object.get_previous.get_absolute_url }}" title="View next post">
        이전 글로 <i class="fas fa-arrow-circle-right"></i>
    </a>
    {% endif %}
</p>

{% if user == object.owner %}
<div class="text-right">
    <a href="{% url 'blog:update' post.id %}" class="mr-3">
        <i class="far fa-edit"></i> 수정</a>
    <a href="{% url 'blog:delete' post.id %}" class="text-danger mr-3">
        <i class="fas fa-trash"></i> 삭제</a>
</div>
{% endif %}
<div>
    {{ post.content | linebreaks}}
</div>
<div>
        {{ post.content | safe }}
</div>

{% endblock %}
